body  {background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: sans-serif;
}
img{
    height: 200px;
    width: 400px;
}
.wrapper {
    width: 620px;
    height: 3265px;
    margin: 0;
    padding: 10px;
    border: 6px solid darkcyan;
    background-color: lavender;
}
